<h1>About</h1>
<h6>ながのCAKEは全国発送可能なケーキ屋さんです。。</h6>
<h6>お子様からお年寄りの方までお召し上がりいただけるよう、</h6>
<h6>様々なバリエーションをご用意しております。</h6>
<h6>また、全国に発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h6>
<h6>ぜひご注文ください。</h6>

<%= image_tag 'birthday-gc2d6f4e29_640', size: "600x350" %>